

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:beige;

}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.form, .table {
    display: grid;
    justify-content: center;
    align-items: center;
}

span {
    color: red;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 600;
    color: red;
}

.message {
    color: #ffffff;
    padding: 4px 12px;
    background-color: #000;
}

label {
    font-size: 16px;
    margin-bottom: 8px;

}

input {
    padding:10px;
    width: 100%;
}

.btnFunction, .hover-button {
    display: flex;
    justify-content: center;
    gap: 30px;
}


#addBtn, #clickMeBtn, #createTableBtn, #removeFieldBtn {
    padding: 6px 12px;
    background-color:azure;
    cursor: pointer;
    font-weight: 600;

}

#addBtn:hover, #clickMeBtn:hover, #createTableBtn:hover {
    background-color:rgb(232, 232, 232);

}


.hoverBtn {
    padding: 8px 16px;
    background-color:cadetblue;
    color: azure;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.main {
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

#coordinates {
    position: fixed;
    top: 80px;
    background-color: azure;
    padding: 8px 16px;
    border: 1px solid #000;
}

#createTableBtn {
    margin-bottom: 30px;  
}



