.hoverBtn {
    padding: 8px 16px;
    background-color:cadetblue;
    color: azure;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

/* Styling the div to display the coordinates */
#coordinates {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 16px;
    z-index: 1000; /* Ensure it's above other content */
}